<!-- APP HEADER -->
<app-header [selectedPage]="'contact'"></app-header>

<!-- APP CONTENT STARTS -->
<div class="container-fluid">
  <div class="header">
    <h1>Contact us</h1>
  </div>
</div>

<div class="section container">
  <h1 class="title">GET IN TOUCH</h1>

  <div class="row">
    <div class="card col-md-6 mt-4 p-4">
      <div class="row">

        <div class="col-md-12">
          <h5><fa-icon [icon]="faPhoneAlt" style="color: #833;"></fa-icon>&nbsp; Phone Number</h5>
          <p><fa-icon [icon]="faMobileAlt" style="font-size: 14px; color: #777;"></fa-icon> &nbsp; +91-8394-080-080 &nbsp;(Helpline)</p>
          <p><fa-icon [icon]="faMobileAlt" style="font-size: 14px; color: #777;"></fa-icon> &nbsp; +91-8938-080-080 &nbsp;(Helpline)</p>
        </div>
       
       
       
        <div class="col-md-12">
          <h5><fa-icon [icon]="faMapMarkedAlt" style="color: #833; font-size: 22px;"></fa-icon>&nbsp; Institute Address</h5>
          <p>Sardar Vallabhbhai Patel Paramedical Institute<br>
          MP Complex, Delhi Road, District Bulandshahr,<br> Uttar Pradesh - 203001</p>
        </div>
        <div class="col-md-12">
        <h5><fa-icon [icon]="faSchool" style="color: #833; font-size: 18px;"></fa-icon>&nbsp; NCR Campus</h5>
        <p>Sardar Vallabhbhai Patel Paramedical Institute<br>
          Near K.K Foods, Ecotech III, Greater Noida, Uttar Pradesh - 201306</p>
        </div>

       
        <!-- <div class="blink_me">&nbsp; &nbsp; Newly shifted Address</div> -->      
        
      </div>
    </div>
    <div class="card col-md-6 mt-4 p-4">
      <form action="https://formsubmit.co/svppiorg@gmail.com" method="POST">
        <div class="row">
          <div class="col-md-6 d-none">
            <div class="form-group">
              <label for="formGroupExampleInput"></label>
              <input type="hidden" name="_captcha" value="false">
              <input type="hidden" class="form-control" name="_next" value="https://svppi.org/thankyou">
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label for="formGroupExampleInput">NAME</label>
              <input type="text" class="form-control" name="name">
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label for="formGroupExampleInput">EMAIL</label>
              <input type="email" class="form-control" name="email">
            </div>
          </div>
          <div class="col-md-12">
            <div class="form-group">
              <label for="formGroupExampleInput">PHONE NO.</label>
              <input type="text" class="form-control" name="_subject">
            </div>
          </div>
          <div class="col-md-12">
            <div class="form-group">
              <label for="formGroupExampleInput">MESSAGE</label>
              <textarea class="form-control" rows="3" name="message"></textarea>
            </div>
          </div>
          <div class="col-md-12">
            <button type="submit" class="btn btn-outline-danger">SUBMIT</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>


<div class="section container">
  <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3509.933835711142!2d77.83719161440123!3d28.391066301720592!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x390ca7ae0f2572cf%3A0x5409e50c09ac138!2sSardar%20Vallabhbhai%20Patel%20Paramedical%20Institute!5e0!3m2!1sen!2sin!4v1640096009589!5m2!1sen!2sin" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>

  <div class="section container-fluid">
   
    <div class="card col-md-12 mt-2 p-3">
      
        <p>Note : For any type verification or inquiry you can 
          write to mail on: <br> नोट: किसी भी प्रकार के सत्यापन या पूछताछ के लिए आप मेल कर सकते हैं
          :</p>
        <p><fa-icon [icon]="faEnvelope" style="color: #777;"></fa-icon> &nbsp; contact@svppi.org &nbsp;(for any query) &nbsp; <fa-icon [icon]="faEnvelope" style="font-size: 14px; color: #777;"></fa-icon> &nbsp; verify@svppi.org &nbsp;(for verification)
        </p>
      
    </div>

</div>


</div>




<div class="footer-gap"></div>

<!-- APP FOOTER -->
<app-footer></app-footer>
