.admin-header {
    padding: 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    h2 {
        font-weight: 800;
    }
}

hr {
    margin: 0;
}

.courses {
  margin-top: 3%;

  .w-60 {
    width: 60%;
  }

  .w-40 {
    width: 40%;
  }

  .course {
    margin-bottom: 32px;
  }

  .course>div {
    height: 100%;
    padding: 16px;
    border-radius: 10px;
    background: rgba(255, 0, 0, 0.05);

    h3 {
      text-align: left;
      font-weight: 800;
      font-size: 18px;
      margin: 10px 0;
    }

    p {
      text-align: left;
      font-size: 14px;
      font-weight: 300;
    }

    span {
      font-size: 14px;
      font-weight: 600;
    }
  }
}

.result {
  img {
    display: block;
    margin: 8px auto 24px;
    width: 130px;
    height: 130px;
    border-radius: 50%;
  }

  p {
    color: mediumseagreen;
  }
}

.card {
  height: 100%;
  cursor: pointer;

  .card-body {
    h6 {
      font-size: 14px;
      margin-bottom: 0;
    }

    p {
      color: #999;
      font-size: 12px;
      margin-bottom: 0;
    }
  }
}

.student-card {
  .img-wrapper {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    overflow: hidden;
    background-color: #ccc;

    img {
      width: 100%;
      margin: auto;
      object-fit: cover;
    }
  }
}


// Small devices (landscape phones, 576px and up)
@media (max-width: 576px) {
  .admin-header {
      h2 {
          font-size: 22px;
      }
  }
}