<div class="login-page container-fluid">
  <div class="login-box">
    <h1>Admin Login</h1>
    <div class="row mt-4">
      <div class="col-md-12 mb-1">
        <div class="form-group">
          <label for="staticEmail2" class="sr-only">Email</label>
          <input type="text" readonly class="form-control" id="staticEmail2" value="admin@svppi.org">
        </div>
      </div>
      <div class="col-md-12 mb-1">
        <div class="form-group">
          <label for="inputPassword2" class="sr-only">Password</label>
          <input (keyup)="onKeyupEvent($event)" type="password" class="form-control" id="inputPassword2" placeholder="Password">
          <small id="emailHelp" class="form-text text-muted">{{submitError}}</small>
        </div>
      </div>
      <div class="col-md-12">
        <button (click)="signInWithEmail()" type="submit" class="btn btn-primary">Confirm identity</button>
      </div>
    </div>
  </div>
  <div class="layer"></div>
</div>
